.icon-wrapper {
  width: 50px;
  height: 25px;
  background-color: #8f88ff;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.icon-wrapper.dark {
  background-color: #333;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  left: 5px;
  transition: all 0.3s ease-in-out;
}

.icon-wrapper.dark .icon {
  left: 25px;
  background-color: #333;
  box-shadow: inset -5px 0px 0px yellow; /* Hilal efekti */
}

.icon-wrapper.dark .icon::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.7;
}
